body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #DCEBC8;
}

.top-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 25px 25px;
  background: #064e3b;
  color: white;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  padding: 8px;
  width: 200px;
  border-radius: 5px;
  border: none;
  outline: none;
  font: bold;
}

.search-box button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #EBF4DD;       
  color: #022c22;            
  font-weight: bold;
  transition: background-color 0.4s ease, transform 0.5s ease, box-shadow 0.3s ease;
}

.search-box button:hover {
  background-color: #DCEBC8;        
  transform: scale(1.09);     
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); 
}

.content {
  padding: 20px;
}

.placeholder {
  text-align: center;
  font-size: 20px;
  color: #475569;
  margin-top: 50px;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.news-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.news-card img {
  width: 100%;
  border-radius: 10px;
}

.news-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.news-card p {
  font-size: 14px;
  color: #475569;
}

.news-card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
}